/* CONTAINER */

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #202225;
}

.containerTop{
  width: 100%;
}

.containerMain{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* NAV */

.containerNav{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F3136;
}

.containerNav a{
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.containerNav a h1{
  margin: 0;
  font-size: 16px;
  animation: logo 8s alternate infinite;
}

@keyframes logo{
  0%{
    color: #F46668;
  }
  16.66%{
    color: #ED8E4F;
  }
  33.32%{
    color: #FEFE15;
  }
  50%{
    color: #16B69B;
  }
  66.64%{
    color: #74DEFE;
  }
  83.3%{
    color: #3C94DC;
  }
  100%{
    color: #7D5F9E;
  }
}

.searchNav{
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #13181C;
}

.searchNav input{
  width: 380px;
  padding: 14px 20px;
  border: none;
  font-size: 16px;
  background: none;
  color: #FFF;
}

.searchNav input::placeholder {
  color: #B5B5B5;
  opacity: 1;
}

.searchNav input:-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input::-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input:focus{
  outline: none;
}

.searchNav button{
  padding: 12px 20px 10px 12px;
  margin: 0;
  background: none;
  border-left: 1px solid #373c43;
  border-bottom: none;
  border-top: none;
  border-right: none;
  cursor: pointer;
  color: #B5B5B5;
}

.searchNav button:hover{
  color: #fff;
}

@media only screen and (max-width: 768px){
  .containerNav a h1{
    display: none;
  }

  .searchNav input{
    width: 100%;
  }
}

/* MAIN */

.containerContent{
  padding: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.tool{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #373c43; 
}

.tool:hover{
  outline: 1.4px solid #4f555f;
}

.tool img{
  padding: 10px 10px 10px 0px;
  object-fit: contain;
}

.toolText{
  padding: 10px;
  width: 100%;
  text-align: start;
  border-left: 1px solid #4f555f;
}

.toolText h3{
  margin: 0;
  padding-bottom: 10px;
  font-size: 22px;
  border-bottom: 1px solid #4f555f;
}

.toolText p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

@media only screen and (max-width: 768px){
  .containerContent{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* FOOTER */

.footerContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2F3136;
}

.footerContainer h2{
  margin: 8px;
  padding: 8px;
  font-size: 30px;
  color: #B5B5B5;
}

.mediaFooter{
  margin-bottom: 8px;
}

.mediaFooter a{
  padding: 5px;
  margin: 8px;
  color: #B5B5B5;
  text-decoration: none;
  font-size: 2rem;
}

.mediaFooter a:hover{
  color: #fff;
}

.footerContainer h3{
  width: 95%;
  padding: 18px 0px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #373c43;
  font-size: 20px;
  color: #B5B5B5;
}

/* TOOL */

.toolContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.toolBox{
  grid-column-start: 2;
  grid-column-end: 6;
}

.toolHeader{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #373c43;
  color: #fff ;
}

@media only screen and (max-width: 768px){
  .toolContainer{
    padding: 30px 0;
    grid-template-columns: repeat(12, 1fr);
  }
  .toolBox{
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

.toolHeader img{
  padding: 15px;
  object-fit: contain;
}

.toolHeaderText{
  padding: 15px;
  border-left: 1px solid #373c43;
}

.toolHeaderText h1{
  margin: 0 0 14px 0;
}

.toolHeaderText p{
  font-size: 20px;
  margin: 0 0 12px 0;
}

@media only screen and (max-width: 768px){
  .toolHeader{
    padding: 8px;
    flex-direction: column;
  }

  .toolHeaderText{
    text-align: center;
    border-left: none;
    border-top: 1px solid #4f555f;
  }
}

.topicsContainer{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topicBox{
  width: calc(100% - 40px);
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #373c43;
  color: #fff;
}

.toolNotFound{
  padding: 25px 0;
  grid-column-start: 2;
  grid-column-end: 10;
}

.toolNotFound h5{
  text-align: center;
  margin: 16px 0;
  font-size: 32px;
  color: #FFF;
}

@media only screen and (max-width: 768px){
  .topicsContainer{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
  }
}

.topicBox:hover{
  outline: 1.4px solid #4f555f;
}

.topicBox h4{
  padding: 5px 0 10px 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
}

.topicBox p{
  padding: 6px 0;
  margin-top: 0;
  margin-bottom: 6px;
}

.descriptionOfTopic{
  font-size: 17px;
}

.dateOfTopic{
  font-size: 14px;
  border-top: 1px solid #4f555f;
  color: #BBB;
}

/* TOPIC */

.topicContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.topicContainerCenter{
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 768px){
  .topicContainer{
    grid-template-columns: repeat(12, 1fr);
  }

  .topicContainerCenter{
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

.topicHeader{
  padding: 32px 0 18px 0;
  width: 100%;
  border-bottom: 1px solid #4f555f;
  color: #fff;
}

.topicHeader h1{
  font-size: 32px;
  margin: 0 0 14px 0;
}

.topicHeader p{
  font-size: 18px;
  margin: 0 0 10px 0;
}

.topicContent{
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* CONTENT */

.subtitle{
  margin: 10px 0 12px 0;
  font-size: 25px;
}

.text{
  margin: 10px 0 12px 0;
  font-size: 17px;
}

.link{
  margin: 10px 0 12px 0;
  font-size: 17px;
  color: #0081d7;
  width: fit-content;
}

.link:hover{
  color: #0000FE;
}

.image{
  align-self: flex-start;
  margin: 10px 0 12px 0;
  border-radius: 3px;
  min-height: 100px;
  max-height: 500px;
  max-width: 100%;
}

.codeContainer{
  width: 100%;
  overflow-x: auto;
}

.code{
  padding: 12px;
  margin: 0;
  overflow-x: auto;
  font-size: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.topCode{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #4f555f;
  background-color: #1E1E1E;
  padding: 0.75rem 1.25rem;
  color: #fff;
}

.topCode p{
  margin: 0 12px 0 0;
  font-weight: 700;
  font-size: 12px;
}

.topCode button{
  padding: 6px 10px;
  margin: 0 0 0 5px 0;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: 1px solid #4f555f;
  background: none;
  color: #fff;
  cursor: pointer;
}

.topCode button:hover{
  background: #13181C;
}

/*FORM*/

.containerForm{
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  color: #FFF;
}

.containerForm h1{
  text-align: center;
  font-size: 26px;
  padding: 10px 0;
  margin: 0 0 18px 0;
}

.containerForm form{
  padding: 30px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerForm form input, .containerForm form textarea{
  width: calc(400px - 36px);
}

.containerForm form textarea{
  min-height: 60px;
  max-height: 100px;
  min-width: calc(400px - 36px);
  max-width: calc(400px - 36px);
}

.containerForm form select{
  width: 400px;
}

.formInputs{
  width: calc(100% - 36px);
  font-family: Arial;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #373C43;
  color: #FFF;
  outline: none;
  border: none;
}

.formInputs:focus{
  outline: 1px solid #F0F0F0;
}

.containerForm form ::placeholder{
  color: #AAAAAA;
}

.formDivider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #757575;
}

.formSubmit{
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #373C43;
  color: #FFF;
  cursor: pointer;
}

.formSubmit:hover{
  outline: 1px solid #F0F0F0;
}

.containerForm aside{
  overflow-x: hidden;
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.containerAside{
  grid-column-start: 1;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxPreview{
  width: 100%;
}

.toolHeaderAside{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolHeaderAside img{
  padding: 10px 10px 10px 0;
  object-fit: contain;
}

.toolHeaderAside div{
  width: 100%;
  padding: 10px;
  border-left: 1px solid #4f555f;
}

.toolHeaderAside div h2{
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 21px;
  border-bottom: 1px solid #4f555f;
}

.toolHeaderAside div p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

.topicHeaderAside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #4f555f;
}

.topicHeaderAside h2{
  margin: 0 0 12px 0;
  font-size: 22px;
}

.topicHeaderAside p{
  margin: 0 0 8px 0;
  font-size: 18px;
}

.topicContentAside{
  padding: 20px 0;
}

.boxHidden{
  display: none;
}

.containerItem{
  width: 100%;
  margin: 5px 0 10px 0;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.boxButtonsItem{
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  margin-left: 4px;
}

.buttonItem{
  padding: 8px;
  margin-left: 6px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #373c4385;
  background-color: rgb(0, 0, 0, 0.1);
  color: rgba(85, 85, 85, 0.5);
  cursor: pointer;
}

.buttonItem:hover{
  outline: 1px solid #4f555f;
  background-color: rgb(0, 0, 0, 0.5);
  color: #FFF;
}

.subtitleItem{
  margin: 0;
  font-size: 20px;
}

.textItem{
  margin: 0;
  font-size: 16px;
}

.linkItem{
  margin: 0;
  font-size: 16px;
  color: #0081d7;
}

.linkItem:hover{
  color: #0000FE;
}

.imageItem{
  width: 50%;
}

.warning{
  display: flex;
  align-items: flex-start;
  color: #fdc500;
  margin: 15px 0;
}

.warning p{
  margin: 0 0 0 8px;
  text-align: center;
}

.containerModal{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeContainerModal{
  display: none;
}

.modal{
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #373C43;
}

.closeModal{
  padding: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #ababab;
  background: none;
  cursor: pointer;
}

.closeModal:hover{
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal p{
  padding: 8px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  font-family: 'Segoe UI';
  font-weight: 600;
}

.modal div{
  margin: 10px 0;
}

.modal div button{
  padding: 10px 20px;
  margin: 4px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modalButtons{
  color: #B5B5B5;
  outline: 1px solid #B5B5B5;
  background: none;
}

.modalButtons:hover{
  color: #F0F0F0;
  outline: 1px solid #F0F0F0;
  background-color: #2F3136;
  transition: 0.2s;
}

/* LOGIN */

.containerLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formLogin{
  width: 400px;
  margin: 22px;
  padding: 20px;
  border-radius: 3px;
  background-color: #2F3136;
  color: #B5B5B5;
}

.formLogin h1{
  text-align: center;
  padding: 10px;
  margin: 0 0 12px 0;
  border-bottom: 1px solid #4f555f;
  font-size: 27px;
}

.boxLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.boxLogin label{
  align-self: flex-start;
  padding: 5px 0;
  margin-bottom: 2px;
}

.boxLogin input{
  width: calc(100% - 24px);
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #FFF;
  outline: none;
  border: none;
}

.boxLogin button{
  width: 75px;
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #B5B5B5;
  outline: none;
  border: none;
  cursor: pointer;
}

.boxLogin button:hover{
  color: #FFF;
  outline: 1px solid #B5B5B5;
}

/* SCREENS */

@media only screen and (max-width: 1024px){
  .containerForm{
    grid-template-columns: repeat(1, 1fr);
  }
  .containerForm aside{
    grid-template-columns: repeat(12, 1fr);
  }
  
  .containerAside{
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

@media only screen and (max-width: 640px){
  .containerAside{
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .formDivider{
    width: 100%;
  }

  .containerForm form textarea{
    width: 100%;
    min-width: calc(100% - 36px);
    max-width: calc(100% - 36px);
  }

  .containerForm form input{
    width: calc(100% - 36px);
  }

  .containerForm form select{
    width: 100%;
  }
}