/* CONTAINER */

.container{
  min-height: 100vh;
  margin: 0;
  background-color: #202225;
}

.containerMain{
  min-height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headerTitle{
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  color: #FFF;
  z-index: 3;
}

.headerTitleText{
  padding-right: 20px;
}

.headerTitle h1{
  padding: 8px 0;
  margin: 0 0 12px 0;
  font-size: 40px;
  line-height: 1.1;
}

.headerTitle h2{
  padding: 8px 0;
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
}

.headerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headerTitle img{
  width: 350px;
  margin: 10px;
  justify-self: center;
  z-index: 1;
}

.headerImg::after{
  content: '';
  position: absolute;
  border-radius: 57% 43% 62% 38% / 56% 36% 64% 44%;
  background-color: #171717;
  height: 105%;
  width: 100%;
  z-index: -1;
}

@media only screen and (max-width: 768px){
  .headerTitle{
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }
  .headerTitleText{
    padding: 0;
    margin-bottom: 8px;
  }
  .headerTitle h1{
    padding: 0;
    font-size: 32px;
  }
  .headerTitle h2{
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px){
  .headerTitle img{
    width: 100%;
  }
}

/* NAV */

.containerNav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F3136;
}

.containerNav a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.containerSearchNav{
  position: relative;
  margin: 0 12px;
}

.searchNav{
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #171717;
}

.searchNav input{
  width: 400px;
  padding: 14px 20px;
  border: none;
  font-size: 16px;
  background: none;
  color: #FFF;
}

.searchNav input::placeholder {
  color: #B5B5B5;
  opacity: 1;
}

.searchNav input:-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input::-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input:focus{
  outline: none;
}

.searchNav button{
  padding: 12px 20px 10px 12px;
  margin: 0;
  background: none;
  border-left: 1px solid #373c43;
  border-bottom: none;
  border-top: none;
  border-right: none;
  cursor: pointer;
  color: #B5B5B5;
}

.searchNav button:hover{
  color: #fff;
}

.containerSearchList{
  margin: 10px 0;
  padding: 15px 0;
  max-height: 200px;
  overflow-y: auto;
  width: calc(100%);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #171717;
  color: #FFF;
  position: absolute;
  z-index: 5;
}

.containerSearchListOff{
  visibility: hidden;
  display: none;
}

.containerSearchList li{
  list-style: none;
  width: 100%;
}

.containerSearchList li a{
  padding: 8px 15px;  
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #B5B5B5;
}

.containerSearchList li a:hover{
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 768px){
  .containerNav{
    padding: 10px 20px;
  }
  .containerNav a h1{
    display: none;
  }
  .searchNav input{
    width: 100%;
  }
}

/* MAIN */

.containerContent{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.tool{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #373c43; 
}

.tool:hover{
  outline: 1.4px solid #4f555f;
}

.tool img{
  padding: 10px 10px 10px 0px;
  object-fit: contain;
}

.toolText{
  padding: 10px;
  width: 100%;
  text-align: start;
  border-left: 1px solid #4f555f;
}

.toolText h3{
  margin: 0;
  padding-bottom: 10px;
  font-size: 22px;
  border-bottom: 1px solid #4f555f;
}

.toolText p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

@media only screen and (max-width: 940px){
  .containerContent{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px){
  .containerContent{
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
}

/* FOOTER */

.footerContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2F3136;
}

.footerContainer h2{
  margin: 8px 0 0 0;
  padding: 8px;
  font-size: 25px;
  color: #B5B5B5;
}

.mediaFooter{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #373c43;
}

.mediaFooter a{
  padding: 5px;
  margin: 8px;
  color: #B5B5B5;
  text-decoration: none;
  font-size: 2rem;
}

.mediaFooter a:hover{
  color: #FFF;
}

.star{
  padding: 10px;
  margin: 10px 0 15px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #B5B5B5;
}

.star:hover{
  text-decoration: underline 1px;
  color: #FFF;
}

.star p{
  margin: 0 8px 0 0;
}

/* TOOL */

.toolContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolBox{
  overflow-x: hidden;
  padding: 0 20px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.toolHeader{
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #373c43;
  color: #fff ;
}

.toolHeader img{
  padding: 15px;
  object-fit: contain;
}

.toolHeaderText{
  padding: 15px;
  border-left: 1px solid #373c43;
}

.toolHeaderText h1{
  margin: 0 0 12px 0;
}

.toolHeaderText p{
  font-size: 20px;
  margin: 0 0 10px 0;
}

@media only screen and (max-width: 768px){
  .toolHeader{
    padding: 20px 0;
    flex-direction: column;
  }

  .toolHeaderText{
    text-align: center;
    border-left: none;
    border-top: 1px solid #4f555f;
  }
}

.topicsContainer{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.topicBox{
  width: calc(100% - 40px);
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #373c43;
  color: #fff;
}

.topicBox:hover{
  outline: 1.4px solid #4f555f;
}

.topicBox h4{
  padding: 5px 0;
  margin: 0 0 8px 0;
  line-height: 1.2;
  font-size: 25px;
}

.topicBox p{
  padding: 6px 0;
  margin-top: 0;
  margin-bottom: 6px;
}

.toolNotFound{
  padding: 25px 0;
  grid-column-start: 2;
  grid-column-end: 10;
}

.toolNotFound h5{
  text-align: center;
  margin: 16px 0;
  font-size: 32px;
  color: #FFF;
}

@media only screen and (max-width: 768px){
  .topicsContainer{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
}

.descriptionOfTopic{
  font-size: 17px;
}

.dateOfTopic{
  font-size: 14px;
  border-top: 1px solid #4f555f;
  color: #BBB;
}

/* TOPIC */

.topicContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topicContainerCenter{
  overflow-x: hidden;
  padding: 0 20px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.topicHeader{
  padding: 32px 0 18px 0;
  width: 100%;
  border-bottom: 1px solid #4f555f;
  color: #fff;
}

.topicHeader h1{
  font-size: 32px;
  margin: 0 0 14px 0;
}

.topicHeader p{
  font-size: 18px;
  margin: 0 0 10px 0;
}

.topicContent{
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* CONTENT */

.subtitle{
  margin: 10px 0 14px 0;
  font-size: 25px;
}

.text{
  margin: 10px 0 14px 0;
  font-size: 17px;
}

.url{
  margin: 10px 0 14px 0;
  font-size: 17px;
  color: #0081d7;
  width: fit-content;
}

.url:hover{
  color: #0000FE;
}

.image{
  align-self: flex-start;
  margin: 10px 0 14px 0;
  border-radius: 3px;
  min-height: 100px;
  max-height: 500px;
  max-width: 100%;
}

.codeContainer{
  width: 100%;
  overflow-x: auto;
}

.code{
  padding: 12px;
  margin: 0;
  overflow-x: auto;
  font-size: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.code div{
  width:fit-content;
}

.topCode{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #4f555f;
  background-color: #1E1E1E;
  padding: 0.75rem 1.25rem;
  color: #fff;
}

.topCode p{
  margin: 0 12px 0 0;
  font-weight: 700;
  font-size: 12px;
}

.topCode button{
  padding: 6px 10px;
  margin: 0 0 0 5px 0;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: 1px solid #4f555f;
  background: none;
  color: #fff;
  cursor: pointer;
}

.topCode button:hover{
  background: #13181C;
}

/*FORM*/

.containerForm{
  min-height: calc(100vh - 280px);
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  color: #FFF;
}

.containerForm h1{
  text-align: center;
  font-size: 26px;
  padding: 10px 0;
  margin: 0 0 18px 0;
}

.containerForm form{
  padding: 30px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerForm textarea{
  min-height: 60px;
  max-height: 120px;
}

.formInput{ 
  min-width: calc(400px - 36px);
  max-width: calc(400px - 36px);
  font-family: Arial;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #373C43;
  color: #FFF;
  outline: none;
  border: none;
}

.formInput:focus{
  outline: 1px solid #F0F0F0;
}

.formSelect{
  width: 400px;
  font-family: Arial;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #373C43;
  color: #FFF;
  outline: none;
  border: none;
}

.containerForm form ::placeholder{
  color: #AAAAAA;
}

.formDivider{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #757575;
}

.formSubmit{
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #373C43;
  color: #FFF;
  cursor: pointer;
}

.formSubmit:hover{
  outline: 1px solid #F0F0F0;
}

.containerForm aside{
  overflow-x: hidden;
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.containerAside{
  grid-column-start: 1;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxPreview{
  width: 100%;
}

.toolHeaderAside{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolHeaderAside img{
  padding: 10px 10px 10px 0;
  object-fit: contain;
}

.toolHeaderAside div{
  width: 100%;
  padding: 10px;
  border-left: 1px solid #4f555f;
}

.toolHeaderAside div h2{
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 21px;
  border-bottom: 1px solid #4f555f;
}

.toolHeaderAside div p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

.topicHeaderAside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #4f555f;
}

.topicHeaderAside h2{
  margin: 0 0 12px 0;
  font-size: 22px;
}

.topicHeaderAside p{
  margin: 0 0 8px 0;
  font-size: 18px;
}

.topicContentAside{
  padding: 20px 0;
  width: 100%;
}

.boxHidden{
  display: none;
}

.containerItem{
  width: 100%;
  margin: 5px 0 10px 0;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.boxButtonsItem{
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  margin-left: 4px;
}

.buttonItem{
  padding: 8px;
  margin-left: 6px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #373c4385;
  background-color: rgb(0, 0, 0, 0.1);
  color: rgba(85, 85, 85, 0.5);
  cursor: pointer;
}

.buttonItem:hover{
  outline: 1px solid #4f555f;
  background-color: rgb(0, 0, 0, 0.5);
  color: #FFF;
}

.subtitleItem{
  margin: 0;
  font-size: 20px;
}

.textItem{
  margin: 0;
  font-size: 16px;
}

.urlItem{
  margin: 0;
  font-size: 16px;
  color: #0081d7;
}

.urlItem:hover{
  color: #0000FE;
}

.imageItem{
  width: 50%;
}

.warning{
  display: flex;
  align-items: flex-start;
  color: #fdc500;
  margin: 15px 0;
}

.warning p{
  margin: 0 0 0 8px;
  text-align: center;
}

.containerModal{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeContainerModal{
  display: none;
}

.modal{
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #373C43;
}

.closeModal{
  padding: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #ababab;
  background: none;
  cursor: pointer;
}

.closeModal:hover{
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal p{
  padding: 8px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  font-family: 'Segoe UI';
  font-weight: 600;
}

.modal div{
  margin: 10px 0;
}

.modal div button{
  padding: 10px 20px;
  margin: 4px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modalButtons{
  color: #B5B5B5;
  outline: 1px solid #B5B5B5;
  background: none;
}

.modalButtons:hover{
  color: #F0F0F0;
  outline: 1px solid #F0F0F0;
  background-color: #2F3136;
  transition: 0.2s;
}

/* LOGIN */

.containerLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formLogin{
  width: 400px;
  margin: 22px;
  padding: 20px;
  border-radius: 3px;
  background-color: #2F3136;
  color: #B5B5B5;
}

.formLogin h1{
  text-align: center;
  padding: 10px;
  margin: 0 0 12px 0;
  border-bottom: 1px solid #4f555f;
  font-size: 27px;
}

.boxLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.boxLogin label{
  align-self: flex-start;
  padding: 5px 0;
  margin-bottom: 2px;
}

.boxLogin input{
  width: calc(100% - 24px);
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #FFF;
  outline: none;
  border: none;
}

.boxLogin button{
  width: 75px;
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #B5B5B5;
  outline: none;
  border: none;
  cursor: pointer;
}

.boxLogin button:hover{
  color: #FFF;
  outline: 1px solid #B5B5B5;
}

/* SEARCH */

.searchHeader{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  border-bottom: 1px solid #373c43;
}

.searchHeader h1{
  margin: 15px 0 14px 0;
}

.searchHeader p{
  margin: 0;
  font-size: 20px;
}

@media only screen and (max-width: 768px){
  .searchHeader{
    padding-top: 0;
  }
  .searchHeader h1{
    margin-top: 0;
  }
}

/* NOT FOUND */

.notFound{
  padding: 25px 0;
  margin: 16px 0;
  color: #FFF;
  text-align: center;
}

/* SCREENS */

@media only screen and (max-width: 1024px){
  .containerForm{
    grid-template-columns: repeat(1, 1fr);
  }
  .containerForm aside{
    grid-template-columns: repeat(8, 1fr);
  }
  .containerAside{
    grid-column-start: 2;
    grid-column-end: 8;
  }
  .containerAside h1{
    padding: 8px 0;
    margin: 0;
  }
  .containerForm form{
    padding: 20px;
  }
  .containerForm aside{
    padding: 20px;
  }
}

@media only screen and (max-width: 640px){
  .containerAside{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .formDivider{
    width: 100%;
  }
}

@media only screen and (max-width: 540px){
  .formInput{
    max-width: calc(100% - 36px);
    min-width: calc(100% - 36px);
  }
  .formSelect{
    width: 100%;
  }
}