/* CONTAINER */

.container{
  min-height: 100vh;
  margin: 0;
  background-color: #1A1A1A;
}

.containerMain{
  min-height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* MAIN CONTAINER */

.mainHeader{
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  z-index: 3;
}

.mainHeaderText{
  margin-right: 20px;
}

.mainHeaderText h1{
  padding: 8px 0;
  margin: 0 0 12px 0;
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
  color: #FFF;
}

.mainHeaderText h2{
  padding: 6px 0;
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
  color: #E6E6E6;
}

.mainHeaderImg{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainHeaderImg img{
  width: 340px;
  margin: 12px;
  justify-self: center;
  z-index: 1;
}

.mainHeaderImg::after{
  content: '';
  position: absolute;
  border-radius: 57% 43% 62% 38% / 56% 36% 64% 44%;
  background-color: #121212;
  height: 105%;
  width: 100%;
  z-index: -1;
}

@media only screen and (max-width: 768px){
  .mainHeader{
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }
  .mainHeaderText{
    padding: 0;
    margin-bottom: 8px;
  }
  .mainHeaderText h1{
    padding: 0;
    font-size: 32px;
  }
  .mainHeaderText h2{
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px){
  .mainHeaderImg img{
    width: 100%;
  }
}

/* NAV */

.containerNav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
}

.containerNav a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.containerSearchNav{
  position: relative;
  margin: 0 12px;
}

.searchNav{
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #121212;
}

.searchNav input{
  width: 400px;
  padding: 14px 20px;
  border: none;
  font-size: 16px;
  background: none;
  color: #FFF;
}

.searchNav input::placeholder {
  color: #B5B5B5;
  opacity: 1;
}

.searchNav input:-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input::-ms-input-placeholder {
  color: #B5B5B5;
}

.searchNav input:focus{
  outline: none;
}

.searchNav button{
  padding: 12px 20px 10px 12px;
  margin: 0;
  background: none;
  border-left: 1px solid #2C2C2C;
  border-bottom: none;
  border-top: none;
  border-right: none;
  cursor: pointer;
  color: #B5B5B5;
}

.searchNav button:hover{
  color: #FFF;
}

.containerSearchList{
  margin: 10px 0;
  padding: 15px 0;
  max-height: 200px;
  overflow-y: auto;
  width: calc(100%);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #121212;
  color: #FFF;
  position: absolute;
  z-index: 5;
}

.containerSearchListOff{
  visibility: hidden;
  display: none;
}

.containerSearchList li{
  list-style: none;
  width: 100%;
}

.containerSearchList li a{
  padding: 8px 15px;  
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #B5B5B5;
}

.containerSearchList li a:hover{
  color: #FFF;
}

@media only screen and (max-width: 768px){
  .containerNav{
    padding: 10px 20px;
  }
  .containerNav a h1{
    display: none;
  }
  .searchNav input{
    width: 100%;
  }
}

/* MAIN */


/*
.containerContent{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.tool{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #373c43; 
}

.tool:hover{
  outline: 1.4px solid #4f555f;
}

.tool img{
  padding: 10px 10px 10px 0px;
  object-fit: contain;
}

.toolText{
  padding: 10px;
  width: 100%;
  text-align: start;
  border-left: 1px solid #4f555f;
}

.toolText h3{
  margin: 0;
  padding-bottom: 10px;
  font-size: 22px;
  border-bottom: 1px solid #4f555f;
}

.toolText p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

@media only screen and (max-width: 940px){
  .containerContent{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px){
  .containerContent{
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
}
*/

/* SECTION */

.containerSection{
  margin-top: 20px;
  min-height: calc(100vh - 280px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.boxSection{
  padding: 0 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.titleSection{
  padding: 20px 0;
  border-bottom: 1px solid #2C2C2C;
}

.titleSection h2{
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  color: #FFF;
}

.containerArticles{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ARTICLE BOX */

.boxArticle{
  width: calc(100% - 40px);
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #222222;
}

.boxArticle:hover{
  outline: 1.4px solid #2C2C2C;
}

.boxArticleTitle{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 12px;
}

.boxArticle h3{
  padding: 0;
  margin: 0;
  line-height: 1.1;
  font-size: 28px;
  color: #FFFFFF;
}

.boxArticleDescription{
  font-size: 18px;
  padding: 0 0 8px 0;
  margin: 0 0 10px 0;
  color: #E6E6E6;
  border-bottom: 1px solid #2C2C2C;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxArticleTags{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.boxArticleTags li{
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 8px;
  color: #E6E6E6;
  background-color: #303030;
  font-size: 14px;
}

.boxDateArticle{
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #B5B5B5;
}

/* ARTICLE */

.containerArticle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainArticle{
  overflow-x: hidden;
  padding: 0 20px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.headerArticle{
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #2C2C2C;
  color: #FFFFFF;
}

.headerArticle h1{
  margin: 0 0 12px;
  line-height: 1.2;
  font-weight: 800;
  font-size: 42px;
}

.headerArticle p{
  font-size: 18px;
  margin: 0;
}

.contentArticle{
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* CONTENT */

.contentArticle h1{
  padding-bottom: 6px;
  margin: 30px 0 20px 0;
  border-bottom: 1px dashed #2C2C2C;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
}

.contentArticle h2{
  margin: 25px 0 20px 0;
  font-size: 32px;
}

.contentArticle h3{
  margin: 18px 0;
  font-size: 28px;
}

.contentArticle p{
  margin: 0 0 16px 0;
  font-size: 17px;
  line-height: 1.2;
}

.contentArticle ol{
  margin: 0 0 16px 0;
} 

.contentArticle ul{
  margin: 0 0 16px 0;
}

.contentArticle li{
  font-size: 17px;
}

.contentArticle ul li ul{
  margin: 0;
}

.containerArticle blockquote{
  padding: 0 0 0 40px;
  margin: 16px 0;
  border-left: 6px solid #B5B5B5;
}

.containerArticle blockquote p{
  margin: 0;
}

.contentArticle a{
  margin: 10px 0 14px 0;
  font-size: 17px;
  color: #0A66C2;
  width: fit-content;
  text-decoration: none;
}

.contentArticle a:hover{
  text-decoration: 1.5px solid underline;
}

.contentArticle table{
  /*width: fit-content;*/
  margin: 20px 0 30px 0;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

.contentArticle tr{
  overflow-x: scroll;
  width: 100%;
}

.contentArticle th{
  padding: 6px;
  font-size: 17px;
  white-space: nowrap;
  border: 1px solid #2C2C2C;
}

.contentArticle td{
  padding: 2px 6px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #2C2C2C;
}

.contentArticle td a{
  font-size: 16px;
}

.contentArticle table img{
  margin: 4px;
  max-width: 160px;
}

.contentArticle img{
  margin: 20px 0 30px 0;
  min-height: 100px;
  max-height: 300px;
  max-width: 100%;
  border-radius: 2px;
}

.contentArticle code{
  padding: 1px 4px;
  outline: 1px solid #B5B5B5;
  background-color: #2C2C2C;
  border-radius: 5px;
}

/* CODEBLOCK */

.containerCode{
  width: 100%;
  overflow-x: auto;
}

.code{
  padding: 12px;
  margin: 0;
  font-size: 16px;
  overflow-x: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.code div{
  width:fit-content;
}

.headCode{
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #4C4C4C;
  background-color: #222222;
  color: #FFFFFF;
}

.headCode p{
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.headCode button{
  padding: 6px 10px;
  margin: 0 0 0 5px 0;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  outline: 1px solid #4C4C4C;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
}

.headCode button:hover{
  background: #1A1A1A;
}

/*FORM*/

.containerForm{
  min-height: calc(100vh - 280px);
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  color: #FFF;
}

.containerForm h1{
  text-align: center;
  font-size: 26px;
  padding: 10px 0;
  margin: 0 0 18px 0;
}

.containerForm form{
  padding: 30px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerForm textarea{
  min-height: 60px;
  max-height: 120px;
}

.formInput{ 
  min-width: calc(400px - 36px);
  max-width: calc(400px - 36px);
  font-family: Arial;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #373C43;
  color: #FFF;
  outline: none;
  border: none;
}

.formInput:focus{
  outline: 1px solid #F0F0F0;
}

.formSelect{
  width: 400px;
  font-family: Arial;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #373C43;
  color: #FFF;
  outline: none;
  border: none;
}

.containerForm form ::placeholder{
  color: #AAAAAA;
}

.formDivider{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #757575;
}

.formSubmit{
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #373C43;
  color: #FFF;
  cursor: pointer;
}

.formSubmit:hover{
  outline: 1px solid #F0F0F0;
}

.containerForm aside{
  overflow-x: hidden;
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.containerAside{
  grid-column-start: 1;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxPreview{
  width: 100%;
}

.toolHeaderAside{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolHeaderAside img{
  padding: 10px 10px 10px 0;
  object-fit: contain;
}

.toolHeaderAside div{
  width: 100%;
  padding: 10px;
  border-left: 1px solid #4f555f;
}

.toolHeaderAside div h2{
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 21px;
  border-bottom: 1px solid #4f555f;
}

.toolHeaderAside div p{
  margin: 6px 0 0 0;
  font-size: 16px;
}

.headerArticleAside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #4f555f;
}

.headerArticleAside h2{
  margin: 0 0 12px 0;
  font-size: 22px;
}

.headerArticleAside p{
  margin: 0 0 8px 0;
  font-size: 18px;
}

.topicContentAside{
  padding: 20px 0;
  width: 100%;
}

.boxHidden{
  display: none;
}

.containerItem{
  width: 100%;
  margin: 5px 0 10px 0;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.boxButtonsItem{
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  margin-left: 4px;
}

.buttonItem{
  padding: 8px;
  margin-left: 6px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #373c4385;
  background-color: rgb(0, 0, 0, 0.1);
  color: rgba(85, 85, 85, 0.5);
  cursor: pointer;
}

.buttonItem:hover{
  outline: 1px solid #4f555f;
  background-color: rgb(0, 0, 0, 0.5);
  color: #FFF;
}

.subtitleItem{
  margin: 0;
  font-size: 20px;
}

.textItem{
  margin: 0;
  font-size: 16px;
}

.urlItem{
  margin: 0;
  font-size: 16px;
  color: #0081d7;
}

.urlItem:hover{
  color: #0000FE;
}

.imageItem{
  width: 50%;
}

.warning{
  display: flex;
  align-items: flex-start;
  color: #fdc500;
  margin: 15px 0;
}

.warning p{
  margin: 0 0 0 8px;
  text-align: center;
}

/* MODAL */

/*

.containerModal{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeContainerModal{
  display: none;
}

.modal{
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #373C43;
}

.closeModal{
  padding: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #ababab;
  background: none;
  cursor: pointer;
}

.closeModal:hover{
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal p{
  padding: 8px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  font-family: 'Segoe UI';
  font-weight: 600;
}

.modal div{
  margin: 10px 0;
}

.modal div button{
  padding: 10px 20px;
  margin: 4px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modalButtons{
  color: #B5B5B5;
  outline: 1px solid #B5B5B5;
  background: none;
}

.modalButtons:hover{
  color: #F0F0F0;
  outline: 1px solid #F0F0F0;
  background-color: #222222;
  transition: 0.2s;
}
*/
/* LOGIN */
/*
.containerLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formLogin{
  width: 400px;
  margin: 22px;
  padding: 20px;
  border-radius: 3px;
  background-color: #222222;
  color: #B5B5B5;
}

.formLogin h1{
  text-align: center;
  padding: 10px;
  margin: 0 0 12px 0;
  border-bottom: 1px solid #4f555f;
  font-size: 27px;
}

.boxLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.boxLogin label{
  align-self: flex-start;
  padding: 5px 0;
  margin-bottom: 2px;
}

.boxLogin input{
  width: calc(100% - 24px);
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #FFF;
  outline: none;
  border: none;
}

.boxLogin button{
  width: 75px;
  padding: 12px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  background-color: #13181C;
  color: #B5B5B5;
  outline: none;
  border: none;
  cursor: pointer;
}

.boxLogin button:hover{
  color: #FFF;
  outline: 1px solid #B5B5B5;
}*/

/* SEARCH */
/*
.searchHeader{
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  border-bottom: 1px solid #373c43;
}

.searchHeader h1{
  margin: 0 0 12px 0;
}

.searchHeader p{
  margin: 0;
  font-size: 22px;
}

@media only screen and (max-width: 768px){
  .searchHeader{
    padding: 35px 0;
  }
}*/

/* NOT FOUND */
/*
.notFound{
  padding: 25px 0;
  margin: 16px 0;
  color: #FFF;
  text-align: center;
}*/

/* SCREENS */
/*
@media only screen and (max-width: 1024px){
  .containerForm{
    grid-template-columns: repeat(1, 1fr);
  }
  .containerForm aside{
    grid-template-columns: repeat(8, 1fr);
  }
  .containerAside{
    grid-column-start: 2;
    grid-column-end: 8;
  }
  .containerAside h1{
    padding: 8px 0;
    margin: 0;
  }
  .containerForm form{
    padding: 20px;
  }
  .containerForm aside{
    padding: 20px;
  }
}

@media only screen and (max-width: 640px){
  .containerAside{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .formDivider{
    width: 100%;
  }
}

@media only screen and (max-width: 540px){
  .formInput{
    max-width: calc(100% - 36px);
    min-width: calc(100% - 36px);
  }
  .formSelect{
    width: 100%;
  }
}*/

/* FOOTER */

.containerFooter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
}

.containerFooter h2{
  margin: 8px 0 0 0;
  padding: 8px;
  font-size: 25px;
  color: #E6E6E6;
}

.mediaFooter{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2C2C2C;
}

.mediaFooter a{
  padding: 6px;
  margin: 8px;
  display: flex;
  align-items: center;
  color: #B5B5B5;
  text-decoration: none;
  font-size: 2.2rem;
}

.mediaFooter a:hover{
  color: #FFFFFF;
}

.starFooter{
  padding: 10px;
  margin: 10px 0 12px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #B5B5B5;
}

.starFooter:hover{
  text-decoration: underline 1px #FFFFFF;
  color: #FFFFFF;
}

.starFooter p{
  margin: 0 8px 0 0;
}